Options -Indexes

RewriteEngine On

# Prevent direct access to files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Force SSL (Heroku-specific)
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect all requests to web/index.php
RewriteRule ^(.*)$ web/index.php?url=$1 [QSA,L]
